---
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import PageLayout from "../../layouts/PageLayout.astro";

// const posts = (await getCollection('blog')).sort(
// 	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
// );
---

<PageLayout
  title="Sushi Restaurant Marketing Tips | HappyRoll Blog"
  description="Stay updated with the latest tips and strategies for sushi restaurant web design and marketing on the HappyRoll blog."
>
  <main></main>
</PageLayout>
