---
import { Icon } from 'astro-icon/components'
---

<style>
    .list-item {
        display: flex;
        align-items: center;
        -webkit-line-clamp: 2;
        line-clamp: 2;
    }

    .check {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: var(--neutral-700);
        display: inline-block;
        vertical-align: middle;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: none;
    }

    [data-icon="check"] {
        display: inline-block;
        color: var(--white);
    }
</style>

<section class="bg-neutral-200 bb b--gray">
    <ul class="mw8 ph2 flex center list flex-wrap flex-nowrap-l">
        <li class="list-item w-100 ph2 pv3 br-l bb bb-0-l b--gray justify-center justify-between-l">
            <span class="check mr2"><Icon size="13" name="check" /></span>
            <span>Get found by more customers near you.</span>
        </li>
        <li class="list-item w-100 ph2 pv3 br-l bb bb-0-l b--gray justify-center justify-between-l">
            <span class="check mr2"><Icon size="13" name="check" /></span>
            <span>Save thousands on your marketing.</span>
        </li>
        <li class="list-item w-100 ph2 pv3 br-l bb bb-0-l b--gray justify-center justify-between-l">
            <span class="check mr2"><Icon size="13" name="check" /></span>
            <span>Specially designed for sushi restaurants.</span>
        </li>
        <li class="list-item w-100 ph2 pv3 justify-center justify-between-l">
            <span class="check mr2"><Icon size="13" name="check" /></span>
            <span>Service backed by results guarantee.</span>
        </li>
    </ul>
</section>