---
import { Icon } from 'astro-icon/components'
---
<style>
    .shrink-0 {
        flex-shrink: 0;
    }
</style>
<section class="fw bg-primary-600 white">
    <div class="mw8 center ph4 pv4">
        <div class="w-50">
            <h3 class="f2">Ready to roll?</h3>
            <p>On this free 30-minute call, you'll get:</p>
            <ul class="list pl0">
                <li class="flex mb3"><span class="shrink-0 dib br-pill bg-white primary-600 block w1 h1 tc mr1"><Icon class="dib" name="check" size="10" /></span>Personalized Consultation: An assessment of your current marketing efforts.</li>
                <li class="flex mb3"><span class="shrink-0 dib br-pill bg-white primary-600 block w1 h1 tc mr1"><Icon class="dib" name="check" size="10" /></span>Growth Opportunities: Identification of key areas to increase revenue.</li>
                <li class="flex mb3"><span class="shrink-0 dib br-pill bg-white primary-600 block w1 h1 tc mr1"><Icon class="dib" name="check" size="10" /></span>Tailored Strategy: A customized plan to double your revenue in six months.</li>
                <li class="flex mb3"><span class="shrink-0 dib br-pill bg-white primary-600 block w1 h1 tc mr1"><Icon class="dib" name="check" size="10" /></span>Expert Guidance: Actionable advice to attract more customers and enhance your online presence.</li>
            </ul>
        </div>
        <!-- TBD Calendar Widget -->
    </div>
</section>