---
import { Icon } from 'astro-icon/components'
---
<style>
    .shrink-0 {
        flex-shrink: 0;
    }

    .left-box {
        position: sticky;
        /* offset from the sticky header.
        /* Header height + section top-padding + section header margin */
        top: calc(75px + 2rem + 1rem);
    }

    @media screen and (max-width: 60rem) {
        .left-box {
            position: relative;
            top: initial;
        }
    }
</style>
<section class="fw bg-primary-600 white">
    <div class="mw8 center ph4 pv4 flex relative flex-wrap flex-nowrap-l">
        <div class="w-50-l self-start left-box">
            <h3 class="f2">Ready to roll?</h3>
            <p>On this free 30-minute call, you'll get:</p>
            <ul class="list pl0">
                <li class="flex mb3"><span class="shrink-0 dib br-pill bg-white primary-600 block w1 h1 tc mr1"><Icon class="dib" name="check" size="10" /></span>Personalized Consultation: An assessment of your current marketing efforts.</li>
                <li class="flex mb3"><span class="shrink-0 dib br-pill bg-white primary-600 block w1 h1 tc mr1"><Icon class="dib" name="check" size="10" /></span>Growth Opportunities: Identification of key areas to increase revenue.</li>
                <li class="flex mb3"><span class="shrink-0 dib br-pill bg-white primary-600 block w1 h1 tc mr1"><Icon class="dib" name="check" size="10" /></span>Tailored Strategy: A customized plan to double your revenue in six months.</li>
                <li class="flex mb3"><span class="shrink-0 dib br-pill bg-white primary-600 block w1 h1 tc mr1"><Icon class="dib" name="check" size="10" /></span>Expert Guidance: Actionable advice to attract more customers and enhance your online presence.</li>
            </ul>
        </div>
        <div class="w-50-l w-100 pl4 mt4">
            <!-- Cal inline embed code begins -->
            <div style="width:100%;height:100%;overflow:scroll" id="my-cal-inline"></div>
            <script type="text/javascript">
            (function (C, A, L) { let p = function (a, ar) { a.q.push(ar); }; let d = C.document; C.Cal = C.Cal || function () { let cal = C.Cal; let ar = arguments; if (!cal.loaded) { cal.ns = {}; cal.q = cal.q || []; d.head.appendChild(d.createElement("script")).src = A; cal.loaded = true; } if (ar[0] === L) { const api = function () { p(api, arguments); }; const namespace = ar[1]; api.q = api.q || []; if(typeof namespace === "string"){cal.ns[namespace] = cal.ns[namespace] || api;p(cal.ns[namespace], ar);p(cal, ["initNamespace", namespace]);} else p(cal, ar); return;} p(cal, ar); }; })(window, "https://app.cal.com/embed/embed.js", "init");
            Cal("init", "free-consultation", {origin:"https://cal.com"});

            Cal.ns["free-consultation"]("inline", {
                elementOrSelector:"#my-cal-inline",
                config: {"layout":"month_view","theme":"light"},
                calLink: "happyroll/free-consultation",
            });

            Cal.ns["free-consultation"]("ui", {"theme":"light","styles":{"branding":{"brandColor":"#da127d"}},"hideEventTypeDetails":true,"layout":"week_view"});
            </script>
            <!-- Cal inline embed code ends -->
        </div>
    </div>
</section>