---
import Button from "../Button.astro";
import Card from "../Card.astro";


---
<style>
    .left-box {
        position: sticky;
        /* offset from the sticky header.
        /* Header height + section top-padding + section header margin */
        top: calc(75px + 2rem + 1rem);
    }

    .focusable__inner {
        transition: all 200ms ease-in-out;
        opacity: .5;
        transform: scale(.9);
    }

    .focused {
        opacity: 1;
        transform: scale(1);
    }
</style>

<section class="bg-light-gray">
    <div class="mw8 center relative pv4 ph4 flex">
        <div class="w-50 self-start left-box">
            <h3 class="f2">Bring order to the chaos and give your sushi restaurant marketing superpowers.</h3>
            <p>Websites are only the tip of the iceberg of what we do at HappyRoll. You get everything you need to attract new sushi lovers and keep them coming back — all with minimal effort.</p>
            <div class="flex items-center">
                <Button variant="primary" title="Book a call" />
                <Button variant="minimal" title="See pricing" />
            </div>
        </div>
        <div class="w-50 mt4">
            <div class="ml4 mb4 js-focusable">
                <div class="focusable__inner">
                    <Card title="Fully-optimized sushi restaurant website." description="With nearly 60% of searches happening on mobile, your HappyRoll plan comes with a website built to get you found more often."/>
                </div>
            </div>
            <div class="ml4 mb4 js-focusable">
                <div class="focusable__inner">
                    <Card title="Done-For-You Restaurant Social Media Management." description="Boost brand awareness and engagement on social platforms. Interact with customers and build a loyal following."/>
                </div>
            </div>
            <div class="ml4 mb4 js-focusable">
                <div class="focusable__inner">
                    <Card title="Google Business Profile Management." description="Improve local search visibility and attract more customers."/>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    (function (observedElements: NodeListOf<Element>) {
        if (!observedElements.length || !observedElements[0]) {
            return;
        }

        const observer = new IntersectionObserver(
            ([e]) => {
                if (e.isIntersecting) {
                    e.target.querySelector('.focusable__inner')?.classList.add('focused')
                } else {
                    e.target.querySelector('.focusable__inner')?.classList.remove('focused')
                }
            },
            {
                rootMargin: '-25% 0px -15% 0px',
                threshold: 1
            }
        );

        observedElements.forEach((el) => observer.observe(el))
    })(document.querySelectorAll('.js-focusable'))
</script>