---
import Card from "../Card.astro";
---

<section class="mw8 center pb5">
    <div class="w-60 center mb5-l mb4">
        <h3 class="f2 tc">Our 3-step process helps you attract more sushi fans.</h3>
        <p class="tc">We ensure your sushi restaurant shines online, helping you get discovered — and rediscovered — by customers more often.</p>
    </div>
    <div class="flex flex-wrap flex-nowrap-l justify-center">
        <Card 
            title="Step 1. You get found online."
            description="Sushi lovers find your restaurant from a Google search, sees a few of your sushi pics while hungry scrolling Instagram, or sees one of your sushi ads on Google."
            class="w-third-l w-two-thirds-m mv2 mh2 ba bg-neutral-200 b--neutral-800"
        />
        <Card 
            title="Step 2. You get more traffic."
            description="Sushi lover clicks through to your website to browse your menu and signs up to get promo of the day."
            class="w-third-l w-two-thirds-m mv2 mh2 ba bg-neutral-200 b--neutral-800"
        />
        <Card
            title="Step 2. You make money."
            description="Sushi lover places an online order, makes a reservation, or get GPS directions to stop by your restaurant."
            class="w-third-l w-two-thirds-m mv2 mh2 ba bg-primary-600 b--neutral-800 white"
        />
    </div>
</section>