---
import { Image } from "astro:assets";
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout
  title="Page Not Found | HappyRoll"
  description="Oops! The page you're looking for doesn't exist. Return to the HappyRoll homepage or explore our services."
>
  <main></main>
</PageLayout>
