---
import { Image } from "astro:assets";
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout
  title="Sushi Restaurant Web Design Experts | About Us | HappyRoll"
  description="Learn more about HappyRoll and our mission to help sushi restaurants succeed online with top-notch web design and marketing."
>
  <main></main>
</PageLayout>
