---
import PageLayout from "../layouts/PageLayout.astro";
---
<style>
    .hero-section {
      padding-top: 6rem;
    }

    @media screen and (min-width: 60rem) {
      .hero-section {
        padding-top: 4rem;
      }
    }
</style>
<PageLayout
  title="Web Designs for Sushi Restaurants | Gallery | HappyRoll"
  description="Check out our gallery of stunning web designs for sushi restaurants. See how HappyRoll can elevate your brand's online presence."
>
  <main class="bg-neutral-100">
    <section id="hero" class="hero-section">
      <div class="hero-section__content mw7 center">
        <h1
          class="neutral-800 f3 f2-ns f1-l lh-title mt0-l fw6 w-80-ns center tc"
        >
          Explore Our Sushi Restaurant Web Designs
        </h1>

        <p class="neutral-600 lh-copy sans-serif center measure-wide tc">
          Discover the stunning, custom websites we've crafted to showcase the
          unique flavors and experiences of sushi restaurants. Each design is
          tailored to elevate their online presence and attract more diners.
        </p>
      </div>
    </section>
  </main>
</PageLayout>
