---
import PageLayout from "../layouts/PageLayout.astro";
---

<style>
  .designs-section {
    min-height: 480px;
  }

  .designs-section__container {
    gap: 30px;
  }

  .design-sample:nth-child(1),
  .design-sample:nth-child(2) {
    flex: 1;
  }

  .design-sample {
    height: 350px;
  }

  @media screen and (min-width: 960px) {
    .hero-section {
      padding-top: 4rem;
    }
  }
</style>
<PageLayout
  title="Web Designs for Sushi Restaurants | Gallery | HappyRoll"
  description="Check out our gallery of stunning web designs for sushi restaurants. See how HappyRoll can elevate your brand's online presence."
>
  <main class="bg-neutral-100">
    <section id="hero" class="hero-section">
      <div class="hero-section__content mw7 center ph3 pt4">
        <h1
          class="neutral-800 f3 f2-ns f1-l lh-title mt0-l fw6 w-80-ns center tc"
        >
          Explore Our Sushi Restaurant Web Designs
        </h1>

        <p class="neutral-600 lh-copy sans-serif center measure-wide tc">
          A sampling of the custom website designs we've crafted to showcase the
          unique flavors and experiences of sushi restaurants.
        </p>
      </div>
    </section>
    <section id="designs-section" class="designs-section">
      <div
        class="designs-section__container ph3 pt5 pb6 flex flex-wrap justify-center mw7 mw8-l center"
      >
        <div class="design-sample w-100 w-50-l bg-neutral-800 br4"></div>
        <div class="design-sample w-100 w-50-l bg-neutral-800 br4"></div>
        <div class="design-sample w-100 bg-neutral-800 br4"></div>
      </div>
    </section>
  </main>
</PageLayout>
