---
import { Image } from "astro:assets";
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout
  title="Web Designs for Sushi Restaurants | Gallery | HappyRoll"
  description="Check out our gallery of stunning web designs for sushi restaurants. See how HappyRoll can elevate your brand's online presence."
>
  <main></main>
</PageLayout>
