---
import BaseHead from "../components/BaseHead.astro";
import Button from "../components/Button.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Hero from "../components/sections/Hero.astro";
import Need from "../components/sections/Need.astro";
import BenefitsTeaser from "../components/sections/BenefitsTeaser.astro";
import FeaturesBenefits from "../components/sections/FeaturesBenefits.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
	<div class="section-container flex flex-column">
		<Hero />
		<Need />
		<BenefitsTeaser />
		<FeaturesBenefits />
	</div>
    
    <main class="mw6 center flex justify-center tc">
      <div class="vh-100">
        <p class="f2">Buttons</p>
        <Button title="Primary" variant="primary" /><br /><br />
        <Button title="Secondary" variant="secondary" /><br /><br />
        <Button title="Disabled" variant="disabled" /><br /><br />
        <Button title="Minimal" variant="minimal" /><br /><br />
        <Button title="Outline" variant="outline" /><br /><br />
        <Button title="Primary Outline" variant="primary-outline" /><br /><br />
      </div>
    </main>
    <Footer />
  </body>
</html>
