---
import PageLayout from "../layouts/PageLayout.astro";
import Hero from "../layouts/HeroSectionLayout.astro";
import Need from "../layouts/NeedSectionLayout.astro";
import BenefitsTeaser from "../layouts/BenefitsTeaserSectionLayout.astro";
import FeaturesBenefits from "../layouts/FeaturesBenefitsSectionLayout.astro";
import Solution from "../layouts/SolutionSectionLayout.astro";
import CallToAction from "../layouts/CallToActionSectionLayout.astro";
---

<PageLayout
  title="Sushi Restaurant Web Design & Marketing | HappyRoll"
  description="Boost your sushi restaurant's online presence with custom web design and digital marketing from HappyRoll."
>
  <main>
    <Hero />
    <Need />
    <BenefitsTeaser />
    <FeaturesBenefits />
    <Solution />
    <CallToAction />
  </main>
</PageLayout>
