---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Hero from "../layouts/HeroSectionLayout.astro";
import Need from "../layouts/NeedSectionLayout.astro";
import BenefitsTeaser from "../layouts/BenefitsTeaserSectionLayout.astro";
import FeaturesBenefits from "../layouts/FeaturesBenefitsSectionLayout.astro";
import Solution from "../layouts/SolutionSectionLayout.astro";
import CallToAction from "../layouts/CallToActionSectionLayout.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <main>
      <Header />
      <div class="section-container flex flex-column">
        <Hero />
        <Need />
        <BenefitsTeaser />
        <FeaturesBenefits />
        <Solution />
        <CallToAction />
      </div>
      <Footer />
    </main>
  </body>
</html>
