---
import { Image } from "astro:assets";
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout
  title="Sushi Restaurant Web Design & Marketing | HappyRoll"
  description="Boost your sushi restaurant's online presence with custom web design and digital marketing services from HappyRoll."
>
  <main>
    <section id="hero" class="hero-section">
      <div
        class="hero-section__container vh-75 bg-neutral-100 w-100 flex items-center justify-center"
      >
        <h1>Hero Section</h1>
      </div>
    </section>
  </main>
</PageLayout>
