---
import { Image } from "astro:assets";
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout
  title="Value-Driven Web Design for Sushi Restaurants | HappyRoll"
  description="Explore our value-driven plans for web design and marketing tailored to sushi restaurants. Discover the best fit for your needs."
>
  <main></main>
</PageLayout>
