---
import { Image } from "astro:assets";
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout
  title="Privacy Policy | HappyRoll"
  description="Read HappyRoll's Privacy Policy to understand how we handle your data and protect your privacy."
>
  <main></main>
</PageLayout>
