---
import { Image } from "astro:assets";
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout
  title="Terms of Service | HappyRoll"
  description="Review the Terms of Service for using HappyRoll's website and services. Understand your rights and obligations."
>
  <main></main>
</PageLayout>
