---
/*
isPinkButton,
isTransparentButton,
isTextButton,
isWhiteTextButton,
isDarkTransparentButton,
*/
import Button from './Button.astro'
---
<Button
    href="#"
    {...Astro.props}
    data-cal-link="happyroll/free-consultation"
    data-cal-namespace="free-consultation"
    data-cal-config='{"layout":"month_view"}'
>
    Book a call
</Button>