---
/* Three styles of button: 1. Pink Button, 2. Transparent Button, 3. Text Button */
const {
  href,
  isPinkButton,
  isTransparentButton,
  isTextButton,
  isDarkTransparentButton,
} = Astro.props;
---

<style>
  .button {
    height: 45px;
    transition: 300ms;
    width: fit-content;
  }

  .button--pink:hover {
    background-color: var(--primary-400);
  }
</style>

<a
  href={href}
  class:list={[
    "button ph3 flex items-center link",
    { "bg-primary-600": isPinkButton },
    { "button--pink": isPinkButton },
    { white: isPinkButton },
    { ba: isPinkButton },
    { "br-pill": isPinkButton },
    { "b--neutral-800": isPinkButton },
    { white: isTransparentButton },
    { ba: isTransparentButton },
    { bw1: isTransparentButton },
    { dim: isTransparentButton },
    { "br-pill": isTransparentButton },
    { "b--white": isTransparentButton },
    { "neutral-800": isTextButton },
    { "button--text": isTextButton },
    { dim: isTextButton },
    { "b--neutral-800": isDarkTransparentButton },
    { dim: isDarkTransparentButton },
    { ba: isDarkTransparentButton },
    { bw1: isDarkTransparentButton },
    { "br-pill": isDarkTransparentButton },
    { "neutral-800": isDarkTransparentButton },
  ]}
>
  <slot />
</a>
