---
const { class: className, title, description } = Astro.props;

const getContentClass = () => {
    if (!Astro.slots.has('left')) {
        return []
    }

    return ['w-two-thirds'];
}

const classContainsBgColor = (classNames: string) => {
    if (!classNames) {
        return false;
    }
    const classes = classNames.split(' ');
    for (let i = 0; i < classes.length; i++) {
        if (classes[i].indexOf('bg-') === 0) {
            return true;
        }
    }
    return false;
}
---
<div class=`br4 ph4 pv4 flex ${!classContainsBgColor(className) ? 'bg-white' : ''} ${className}`>
    { Astro.slots.has('left') ? 
        <div class="w-third">
            <slot name="left" />
        </div>
        : null
    }
    <div class:list={getContentClass()}>
        <p class="f4 b">{title}</p>
        <p>{description}</p>
    </div>
</div>