<form
name="Free 30-Minute Consultation Request"
class="w-100 flex flex-column"
method="POST"
data-netlify="true"
>
<div
class="form__input-group flex flex-column flex-row-ns justify-between"
>
<div class="form__input flex flex-column">
    <label for="first-name" class="pb2">First name</label>
    <input
    type="text"
    name="First Name"
    id="first-name"
    class="bg-transparent ba bw1 br-pill b--primary-400"
    required
    />
</div>
<div class="form__input flex flex-column">
    <label for="last-name" class="pb2">Last name</label>
    <input
    type="text"
    name="Last Name"
    id="last-name"
    class="bg-transparent ba bw1 br-pill b--primary-400"
    required
    />
</div>
</div>
<div class="form__input flex flex-column">
    <label for="email" class="pb2">Email address</label>
    <input
    type="email"
    name="Email Address"
    id="email"
    class="bg-transparent ba bw1 br-pill b--primary-400"
    required
    />
</div>
<div
class="form__input-group flex flex-column flex-row-ns justify-between"
>
<div class="form__input flex flex-column">
    <label for="restaurant-name" class="pb2">Restaurant name</label>
    <input
    type="text"
    name="Restaurant Name"
    id="restaurant-name"
    class="bg-transparent ba bw1 br-pill b--primary-400"
    required
    />
</div>
<div class="form__input flex flex-column">
    <label for="restaurant-website" class="pb2"
    >Restaurant website</label
    >
    <input
    type="url"
    name="Restaurant Website"
    id="restaurant-website"
    class="bg-transparent ba bw1 br-pill b--primary-400"
    />
</div>
</div>
<div
class="form__input-group flex flex-column flex-row-ns justify-between"
>
<div class="form__input flex flex-column">
    <label for="preferred-date" class="pb2"
    >Preferred date for consultation</label
    >
    <input
    type="date"
    name="Preferred Date for Consultation"
    id="preferred-date"
    class="bg-transparent ba bw1 br-pill b--primary-400 white"
    required
    />
</div>
<div class="form__input flex flex-column">
    <label for="preferred-time" class="pb2"
    >Preferred time for consultation</label
    >
    <input
    type="time"
    name="Preferred Time for Consultation"
    id="preferred-time"
    class="bg-transparent ba bw1 br-pill b--primary-400 white"
    required
    />
</div>
</div>
<div
class="form__input-group flex flex-column flex-row-ns justify-between"
>
<div class="form__input flex flex-column">
    <label for="timezone" class="pb2">Timezone</label>
    <select
    name="Timezone"
    id="timezone"
    class="bg-transparent ba bw1 br-pill b--primary-400 white"
    required
    >
    <option value="">Select a timezone</option>
    <option value="ET">Eastern Time (e.g. New York)</option>
    <option value="CT">Central Time (e.g. Chicago)</option>
    <option value="PT">Pacific Time (e.g. Los Angeles)</option>
    <option value="MT">Mountain Time (e.g. Phoenix)</option>
</select>
</div>
<div class="form__input flex flex-column">
    <label for="referrer" class="pb2">How'd you hear about us?</label>
    <select
    name="How Did You Hear About Us?"
    id="referrer"
    class="bg-transparent ba bw1 br-pill b--primary-400 white"
    >
    <option value="">Choose an option</option>
    <option value="Google Search">Google Search</option>
    <option value="Social Media">Social Media</option>
    <option value="Referral">Referral</option>
    <option value="Other">Other</option>
</select>
</div>
</div>
<div class="form__input flex flex-column pt3-ns">
    <label for="challenges-and-goals" class="pb2"
    >Marketing challenges or goals?</label
    >
    <textarea
    name="Marketing Challenges or Goals"
    id="challenges-and-goals"
    class="bg-transparent ba bw1 br4 b--primary-400 pa3 white"
    ></textarea>
</div>

<input
type="submit"
value="Get your free consultation"
class="white bg-primary-600 ba bw1 b--white br-pill dim mt3-ns"
/>
</form>