---
import Button from "./Button.astro";
---

<style>
  @media screen and (max-width: 60rem) {
    .list {
      margin-left: -1rem;
    }
  }
</style>
<footer class="bg-primary-800 white">
  <div class="mw8 center pv4 ph4">
    <div class="flex-l items-center justify-between">
      <div>
        <span>HappyRoll</span>
        <span class="db f7 pt2 primary-300"
          >All Rights Reserved HappyRoll, Inc. <span class="js-copyright"
          ></span></span
        >
      </div>
    </div>
  </div>
</footer>

<script>
  const tag = document.querySelector(".js-copyright");
  if (tag) {
    tag.innerHTML = String(new Date().getFullYear());
  }
</script>
