---
import { toTitleCase } from "../utils/text";

const { title } = Astro.props;
---

<style>
  .mobile-card {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    border-radius: 20px;
    max-width: 450px;
  }

  @media screen and (min-width: 30rem) {
    .mobile-card {
      border-radius: 30px;
    }
  }
</style>

<div
  class=`mobile-card flex flex-column flex-row-ns w-100 ph3 pv4 center mr0-l bg-white`
>
  <div class="mobile-card--left w-20-ns pv3-ns">
    <div class="w3 h3 bg-neutral-100 br-100 flex items-center justify-center">
      <slot name="icon" />
    </div>
  </div>
  <div class="mobile-card--right w-80-ns pv3-ns">
    <h3 class="f5 f3-ns lh-title neutral-800 mt0-ns fw5">
      {toTitleCase(title)}
    </h3>

    <slot name="description" />
  </div>
</div>
