---

---

<style>
  .benefit-text {
    width: 174px;
  }

  @media screen and (min-width: 960px) {
    ul {
      gap: 20px;
    }
  }
</style>

<section class="bg-neutral-100 bb b--light-gray pv4">
  <ul
    class="list pl0 flex flex-wrap flex-nowrap-l w-100 justify-center justify-between-l mw7 mw8-l center items-center"
  >
    <li
      class="flex items-center justify-center br-l b--light-gray pr4-l w-50-ns"
    >
      <i class="bi bi-check-circle-fill neutral-900 f2"></i>
      <p class="pl2 lh-copy neutral-900 benefit-text">
        Get found by more customers near you.
      </p>
    </li>
    <li
      class="flex items-center justify-center br-l b--light-gray pl3-l pr4-l w-50-ns"
    >
      <i class="bi bi-check-circle-fill neutral-900 f2"></i>
      <p class="pl2 lh-copy neutral-900 benefit-text">
        Save thousands on your marketing.
      </p>
    </li>
    <li
      class="flex items-center justify-center br-l b--light-gray pl3-l pr4-l w-50-ns"
    >
      <i class="bi bi-check-circle-fill neutral-900 f2"></i>
      <p class="pl2 lh-copy neutral-900 benefit-text">
        Specially-designed for sushi restaurants.
      </p>
    </li>
    <li class="flex items-center justify-center pr4-l pl3-l pr0-l w-50-ns">
      <i class="bi bi-check-circle-fill neutral-900 f2"></i>
      <p class="pl2 lh-copy neutral-900 benefit-text">
        System backed by results guarantee.
      </p>
    </li>
  </ul>
</section>
