---
import Button from "../components/Button.astro";
import RiveHeroAnimation from "../components/RiveHeroAnimation.astro";
---

<style>
  .hero-section {
    padding-top: 6rem;
  }

  .hero-section__container {
    gap: 60px;
  }

  .hero-section__subheadline {
    max-width: 390px;
  }

  @media screen and (min-width: 30rem) {
    .hero-section__container {
      gap: 60px;
    }
  }

  @media screen and (min-width: 30rem) {
    .hero-section__container {
      gap: 40px;
    }

    .hero-section__subheadline {
      max-width: 470px;
    }
  }

  @media screen and (min-width: 60rem) {
    .hero-section {
      padding-top: 0rem;
    }

    .hero-section__content {
      z-index: 0;
    }

    @media (orientation: portrait) {
      .hero-section {
        height: auto;
      }
    }
  }
</style>

<section id="hero" class="hero-section vh-100 vh-1-l bg-neutral-100">
  <div
    class="hero-section__container w-100 h-100 ph3 flex flex-column flex-none-l ph4-l pb5 mw8 center"
  >
    <div
      class="hero-section__content h-100 w-100 w-60-l flex justify-center items-center-l pa4 pt0-l z-1"
    >
      <div class="h-75 measure mw-none-l tc tl-l">
        <h1 class="neutral-800 f3 f2-ns f1-l lh-title mt0-l fw6 ttc">
          {
            "Double your sushi restaurant's revenue, or your marketing is free.".toTitleCase()
          }
        </h1>

        <p
          class="hero-section__subheadline neutral-600 lh-copy sans-serif center ml0-l tl-l"
        >
          HappyRoll is the only marketing system designed to attract new diners,
          increase repeat visits, and reward loyal customers for your sushi
          restaurant.
        </p>

        <div class="pt3 flex justify-center justify-start-l">
          <Button isPinkButton href="/#book-a-call">Book a call</Button>
          <Button isTextButton href="/pricing/">See pricing</Button>
        </div>
      </div>
    </div>
    <RiveHeroAnimation />
  </div>
</section>