---
import Button from "../components/Button.astro";
import MakiAnimation from "../../videos/maki_anim.mp4";
---

<style>
  .hero {
    padding: 14rem 0 5rem;
    overflow: hidden;
    position: relative;
    margin-top: -6rem;
    height: calc(100vh + 6rem);
  }

  .hero__inner-wrapper {
    width: 100%;
    max-width: 64rem;
    margin: auto;
    padding: 1rem;
  }

  .maki-animation {
    display: none;
    z-index: 0;
  }

  @media screen and (min-width: 30rem) {
    .maki-animation {
      display: inherit;
    }
  }

  @media screen and (min-width: 30rem) and (max-width: 64rem) {
    .maki-animation {
      transform: rotate(-90deg) translate(50px, -60px);
      position: absolute;
    }
  }

  @media screen and (min-width: 64rem) {
    .hero {
      padding-top: 10rem;
      height: calc(100vh + 2rem);
    }

    .maki-animation {
      transform: scale(1.5) translateY(40px);
      width: 100%;
    }
  }
</style>
<section class="hero bg-neutral-200">
  <div class="hero__inner-wrapper flex">
    <div class="w-two-thirds-ns z-1">
      <h2 class="f2 f1-l">
        2x the revenue of your sushi restaurant, or your marketing is free.
      </h2>
      <p class="pr5 mt0">
        HappyRoll is the only marketing tool designed to attract new diners,
        increase repeat visits, and reward loyal customers for your sushi
        restaurant.
      </p>
      <div class="flex items-center">
        <span class="white"
          ><Button variant="primary" title="Book a call" /></span
        >
        <Button variant="minimal" title="See pricing" />
      </div>
    </div>
    <div class="w-third-ns">
      <video
        id="makiAnimation"
        class="maki-animation"
        src={MakiAnimation}
        loop="true"
        autoplay="true"
        muted></video>
      <script>
        const anim = document.getElementById(
          "makiAnimation"
        ) as HTMLVideoElement;

        anim?.addEventListener("loadeddata", () => {
          if (!anim) return;
          anim.playbackRate = 0.25;
        });
      </script>
    </div>
  </div>
</section>
