---
import BookACallButton from "../components/BookACallButton.astro";
import Button from "../components/Button.astro";
import RiveHeroAnimation from "../components/RiveHeroAnimation.astro";
---

<style>
  .hero-section {
    min-height: 480px;
    height: fit-content;
  }

  .hero-section__subheadline {
    max-width: 390px;
  }

  .hero-section__image-container {
    width: 268px;
    height: 268px;
  }

  .hero-section__container {
    gap: 60px;
  }

  @media screen and (min-width: 30rem) {
    .hero-section {
      height: fit-content;
    }

    .hero-section__image-container {
      width: 400px;
      height: 400px;
    }
  }

  @media screen and (min-width: 960px) {
    .hero-section {
      min-height: 600px;
    }

    .hero-section__image-container {
      width: 460px;
      height: 460px;
    }

    .hero-section__container {
      gap: 0;
    }
  }
</style>

<section id="hero" class="hero-section bg-neutral-100 flex-l items-center">
  <div
    class="hero-section__container w-100 h-100 ph3 flex flex-column flex-row-l justify-center-l pt4 center relative mw8"
  >
    <div
      class="hero-section__content h-100 w-100 w-40-l flex justify-center items-center-l z-1"
    >
      <div class="measure mw-none-l tc tl-l">
        <h1 class="neutral-800 f3 f2-ns lh-title fw6 mt0-l">
          Double the Customer Loyalty of Your Sushi Restaurant
        </h1>

        <p
          class="hero-section__subheadline neutral-600 lh-copy sans-serif center ml0-l tl-l"
        >
          HappyRoll is the only marketing system designed to attract new diners,
          increase repeat visits, and reward loyal customers for your sushi
          restaurant.
        </p>

        <div class="pt3 flex justify-center justify-start-l">
          <BookACallButton isPinkButton />
          <Button isTextButton href="/pricing/">See pricing</Button>
        </div>
      </div>
    </div>
    <div class="hero-section__image-container center mh0-l relative">
      <RiveHeroAnimation />
    </div>
  </div>
</section>
