---
import Button from "../components/Button.astro";
import RiveHeroAnimation from "../components/RiveHeroAnimation.astro";
---

<style>
  .hero-section {
    padding-top: 6rem;
  }

  .hero-section__container {
    gap: 60px;
  }

  .hero-image-placeholder {
    width: 268px;
    height: 268px;
  }

  .hero-section__subheadline {
    max-width: 390px;
  }

  @media screen and (min-width: 30rem) {
    .hero-section__container {
      gap: 60px;
    }

    .hero-image-placeholder {
      width: 358px;
      height: 358px;
    }
  }

  @media screen and (min-width: 30rem) {
    .hero-section__container {
      height: 646px;
      gap: 40px;
    }

    .hero-section__subheadline {
      max-width: 470px;
    }
  }

  @media screen and (min-width: 60rem) {
    .hero-section {
      padding-top: 0rem;
    }
  }
</style>

<section id="hero" class="hero-section bg-neutral-100">
  <div
    class="hero-section__container w-100 flex flex-column flex-row-l justify-between-l w-100 ph3 ph4-l pb5 mw8 center"
  >
    <div
      class="hero-section__content hero-section__content--left w-100 w-60-l flex justify-center items-center-l pt3-ns pt0-l"
    >
      <div class="h-75 measure mw-none-l tc tl-l">
        <h1 class="neutral-800 f3 f2-ns f1-l lh-title mt0-l fw6 ttc">
          {
            "Double your sushi restaurant's revenue, or your marketing is free.".toTitleCase()
          }
        </h1>

        <p
          class="hero-section__subheadline neutral-600 lh-copy sans-serif center ml0-l tl-l"
        >
          HappyRoll is the only marketing system designed to attract new diners,
          increase repeat visits, and reward loyal customers for your sushi
          restaurant.
        </p>

        <div class="pt3 flex justify-center justify-start-l">
          <Button isPinkButton href="/#book-a-call">Book a call</Button>
          <Button isTextButton href="/pricing/">See pricing</Button>
        </div>
      </div>
    </div>
    <div class="hero-section__content hero-section__content--right w-100 w-40-l flex justify-center justify-end-l items-center">
      <RiveHeroAnimation />
    </div>
  </div>
</section>