---
import LogoCloud from "../components/LogoCloud.astro";
---

<section class="relative fw">
  <LogoCloud />
  <div class="center mw6 bg-white-70 pv5 ph2">
    <h3 class="f2 tc">
      So many tools and apps make marketing your sushi restaurant overwhelming.
    </h3>
    <p class="tc">
      From posting pics on Instagram to responding to customer reviews &dash;
      you do a lot to keep your sushi restaurant running.
    </p>
  </div>
</section>
