---
import LogoCloud from "../components/LogoCloud.astro";
import Button from "../components/Button.astro";
---

<style>
  .need-section__content {
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
    margin: 3rem 0 4rem;
  }

  .need-section {
    height: 54vh;
  }

  @media screen and (min-width: 800px) {
    .items-start-800 {
      align-items: start;
    }
  }
</style>

<section
  id="need-section"
  class="need-section flex flex-column items-center ph3 relative bg-white bb bt b--light-gray"
>
  <LogoCloud />
  <div class="need-section__content flex flex-column">
    <!-- <div class="need-section__content--left flex justify-center"> -->
    <div class="measure">
      <h2 class="f4 f3-ns f2-l neutral-800 lh-title fw6 tc mt0-l pt4">
        So Many Tools &amp; Apps Make Marketing Your Sushi Restaurant
        Overwhelming
      </h2>
      <p class="neutral-600 lh-copy sans-serif tc">
        From posting pics on Instagram to responding to customer
        reviews&mdash;you do a lot to keep your sushi restaurant running.
      </p>

      <div class="pt2 flex justify-center">
        <Button href="/about/" isDarkTransparentButton
          >Discover HappyRoll</Button
        >
      </div>
    </div>
  </div>
</section>
